<div class="container content">
  <h1>Add User Form</h1>
  <div class="user-container">
    <form>
      <div class="form-group">
        <div>
          <label for="fname">First Name</label>
          <input
            type="text"
            placeholder="Enter First Name"
            class="form-control"
            name="fname"
            required
          />
        </div>
        <div>
          <label for="lname">Last Name</label>
          <input
            type="text"
            placeholder="Enter Last Name"
            class="form-control"
            name="lname"
            required
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            placeholder="yourmail@gmail.com"
            class="form-control"
            name="email"
            required
          />
        </div>
      </div>
      <button type="submit" class="btn btn-success create"> Create </button>
    </form>
  </div>
</div>
<div class="container content">
  <h1>Users List</h1>
  <div class="user-container">
    <div class="user-containers">
      {{#each users}}
        <div class="user-details" data-id="{{this.dataValues.id}}">
          <ul class="user-info">
            <li>
              <span class="info-label">User ID:</span>
              <span class="info-value">{{this.dataValues.id}}</span>
            </li>
            <li>
              <span class="info-label">First Name:</span>
              <span class="info-value">{{this.dataValues.firstName}}</span>
            </li>
            <li>
              <span class="info-label">Last Name:</span>
              <span class="info-value">{{this.dataValues.lastName}}</span>
            </li>
            <li>
              <span class="info-label">Email:</span>
              <span class="info-value">{{this.dataValues.email}}</span>
            </li>
          </ul>
          <div class="user-actions">
            <a href="/update/{{this.dataValues.id}}">
              <button
                class="btn edit-btn"
                data-id="{{this.dataValues.id}}"
              >Edit</button>
            </a>
            <button
              class="btn delete-btn"
              data-id="{{this.dataValues.id}}"
            >Delete</button>
          </div>
        </div>

      {{/each}}
    </div>

  </div>
</div>